<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668185927583-29ej1djeq8nj331trqp1umk9i0iatuu0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668185927583-29ej1djeq8nj331trqp1umk9i0iatuu0</string>
	<key>API_KEY</key>
	<string>AIzaSyCohxTp-UPaYhCBDWWQi7atw_20iFtLsrw</string>
	<key>GCM_SENDER_ID</key>
	<string>668185927583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Test.MarvelHero</string>
	<key>PROJECT_ID</key>
	<string>heroes-6303b</string>
	<key>STORAGE_BUCKET</key>
	<string>heroes-6303b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668185927583:ios:a6d328b0094047b07f67aa</string>
</dict>
</plist>